/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #B3E5FC;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #026873;
  position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #003B73;
  font-family: 'Georgia', serif;
}

.menu-icon {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  color: #003B73;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: #026873;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links ul li a.active {
  font-weight: bold;
  color: #007bff;
}

.book-button .book-now {
  background-color: #FF7043;
  /* Sunset Orange */
  color: #FFF;
  /* White for contrast */
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-button .book-now:hover {
  background-color: #FF8A80;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    z-index: 10;
  }

  .nav-links {
    position: fixed;
    top: 4rem;
    left: 0;
    height: calc(100vh - 4rem);
    background-color: white;
    width: 100%;
    max-width: 300px;
    transform: translateX(-100%);

    /* Hidden off-screen initially */
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    gap: 0;
    z-index: 9;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links ul {
    flex-direction: column;
    gap: 0;
  }

  .nav-links ul li {
    text-align: left;
    padding: 0.5rem 1rem;
  }

  .book-button {
    margin: 1rem;
  }
}