/* Gallery Component Styles */
.gallery {
  padding: 20px;
  background-color: #E1F5FE;
  margin: 20px 0;
  border-radius: 10px;
}

.gallery h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #026873;

}

/* Grid layout for gallery */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

/* Gallery item styles */
.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: none;
  transition: transform 0.3s ease-in-out;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-item img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.gallery-description {
  padding: 10px;
  font-size: 1em;
  color: #004D61;
  text-align: center;
  background-color: #FFF;
  border-radius: 0 0 10px 10px;
  box-shadow: none;
}

/* Hover effect for gallery items */
.gallery-item:hover {
  transform: scale(1.05);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .gallery h2 {
    font-size: 1.8em;
    color: #026873;
  }

  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  .gallery-description {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .gallery h2 {
    font-size: 1.5em;
    color: #026873;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .gallery-description {
    font-size: 0.8em;
  }
}